$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/*Common CSS*/

.row {
  margin-right: 0;
  margin-left: 0;
}

div .message-container {
  margin: 0;
}

body {
    width: 960px;
    margin: auto;
}

h1 {
    clear: both;
    margin: 54px auto;
    text-align: center !important;
}

h2 {
    color: #16c6ba;
}

a {
  text-decoration: none !important;
}

a, a:hover, a:active {
    color: #16c6ba;
    font-weight: 700;
}

.btn-green {
    background-color: #16c6ba;
    color: #ffffff;
}

div {
    margin: 15px auto;
}

select.form-control {
    height: 44px;
}

button.btn {
    height: 44px;
}

div.btn-lenth {
    width: 60%;
}




/*Main Page*/
div.selectArea {
    width: 60%;
}

div.selectArea table {
    margin: auto;
}

div.selectArea table td {
    width: 85%;
    padding: 15px 0 15px 15px;
}


/*Dashboard Page*/



/*Creating question Page*/
#createqustion div.selectArea select {
    margin: 30px auto;
    width: 60%;
}

#createqustion div.btn-lenth {
    margin-top: 30px;
}

.list-group-item {
    margin-bottom: 20px;
    border: none;
}

#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: -5px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#16c6ba;
}

.search-query:focus + button {
    z-index: 3;
}
