<div id="createqustion">
  <div class="row">
    <h2>
        <center>Create Your Questions</center>
    </h2>
    <div class="selectArea">
      <p>
        <center>Ask codebuddies anything.</center>
      </p>
      <div>
        <select class="form-control">
          <option>Choose programming languages of your question</option>
          <option>Java</option>
          <option>Python</option>
          <option>Go</option>
          <option>Ruby</option>
          <option>PHP</option>
        </select>
      </div>
      <div class="btn-lenth">
        <a href="./chat.html">
          <button type="button" class="btn btn-block btn-green">
            <center><a ng-href="#/chat" style="color: #fff;">Start Chat with your CodeBuddy</a></center>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
