<div class="dashboardArea">
  <div class="row">
    <h2>
      <center>Welcome Taro-San</center>
    </h2>
  </div>
  <p>
    <center>Find your codebuddies and ask anything.</center>
  </p>
  <div class="row marketing">
    <div class="col-lg-12 pull-right">
      <p class="pull-right">
        <a href="#/createquestion" type="button" class="btn btn-green btn-lg">
          <span class="glyphicon glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create your questions
        </a>
      </p>
    </div>
  </div>
  <div class="row marketing">
    <div id="custom-search-input">
      <div class="input-group col-md-12">
        <input type="text" class="  search-query form-control" placeholder="Search questions" />
        <span class="input-group-btn">
          <button class="btn btn-danger" type="button">
          <span class=" glyphicon glyphicon-search"></span>
        </button>
        </span>
      </div>
    </div>
    <div class="col-lg-6 left">
      <h4><span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"></span> Unsolved questions</h4>
      <div class="list-group">
        <a href="#" class="list-group-item">
          <h5 class="list-group-item-heading">RxAndroid - Using Rx EventBus properly</h5>
          <p class="list-group-item-text">Im exactly having this behavior Subscriber OnComplete called twice (which is is anticipated as per...</p>
        </a>
        <a href="#" class="list-group-item">
          <h5 class="list-group-item-heading">Placing a textview on top of imageview in android</h5>
          <p class="list-group-item-text">I have a listview, that has a single imageview which is scrollable vertically...</p>
        </a>
        <a href="#" class="list-group-item">
          <h5 class="list-group-item-heading">I have a listview, that has a single imageview which is scrollable vertically</h5>
          <p class="list-group-item-text">I'm looking for an optimal way to resize wrapping text in a TextView so that it will fit within its getHeight and getWidth bounds. I'm not simply looking for..</p>
        </a>
      </div>
    </div>
    <div class="col-lg-6 right">
      <h4><span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"></span> Closed questions</h4>
      <div class="list-group">
        <a href="#" class="list-group-item">
          <h5 class="list-group-item-heading">Auto-fit TextView for Android</h5>
          <p class="list-group-item-text">Many times we need to auto-fit the font of the TextView to the boundaries given to it...</p>
        </a>
        <a href="#" class="list-group-item">
          <h5 class="list-group-item-heading">Is this a strong reference cycle or memory leak at all?</h5>
          <p class="list-group-item-text">The examples about strong reference cycles I usually see involve two classes with properties pointing to each other...</p>
        </a>
        <a href="#" class="list-group-item">
          <h5 class="list-group-item-heading">Creating a memory leak with Java</h5>
          <p class="list-group-item-text">I just had an interview, and I was asked to create a memory leak with Java. Needless to say I felt pretty dumb having no clue on how to even start creating one. What would an example be?</p>
        </a>
      </div>
    </div>
  </div>
</div>
