<div class="dashboardArea">
  <p>
    <center>Find your codebuddies and ask anything.</center>
  </p>
  <div class="row marketing">
    <div class="col-lg-12 pull-right">
      <p class="pull-right">
        <a href="#/createquestion" type="button" class="btn btn-green btn-lg">
          <span class="glyphicon glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create your questions
        </a>
      </p>
    </div>
  </div>
  <div class="row marketing">
    <div id="custom-search-input">
      <div class="input-group col-md-12">
        <input type="text" class="  search-query form-control" placeholder="Search questions" />
        <span class="input-group-btn">
          <button class="btn btn-danger" type="button">
          <span class=" glyphicon glyphicon-search"></span>
        </button>
        </span>
      </div>
    </div>
    <div class="col-lg-6 left">
      <h4><span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"></span> Unsolved questions</h4>
      <div class="list-group">
        <a href="#" class="list-group-item">
          <h5 class="list-group-item-heading">qustion heading</h5>
          <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        </a>
        <a href="#" class="list-group-item">
          <h5 class="list-group-item-heading">qustion heading</h5>
          <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        </a>
        <a href="#" class="list-group-item">
          <h5 class="list-group-item-heading">qustion heading</h5>
          <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        </a>
      </div>
    </div>
    <div class="col-lg-6 right">
      <h4><span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"></span> Closed questions</h4>
      <div class="list-group">
        <a href="#" class="list-group-item">
          <h5 class="list-group-item-heading">qustion heading</h5>
          <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        </a>
        <a href="#" class="list-group-item">
          <h5 class="list-group-item-heading">qustion heading</h5>
          <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        </a>
        <a href="#" class="list-group-item">
          <h5 class="list-group-item-heading">qustion heading</h5>
          <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        </a>
      </div>
    </div>
  </div>
</div>
