<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="#"><span><img src="https://slack-imgs.com/?c=1&url=https%3A%2F%2Frobohash.org%2FCodeBuddies" width="44px;"></span>Taro-San</a></li>
            </ul>
        </nav>
        <div class="row">
            <h1>
                <center>Code Buddies</center>
            </h1>
            <h2>
                <center>Welcome Taro-San</center>
            </h2>
            <div class="dashboardArea">
                <p>
                <center>Find your codebuddies and ask anything.</center>
                </p>
                <div class="row marketing">
                    <div class="col-lg-12 pull-right">
                        <p class="pull-right">
                            <a href="./createquestion.html" type="button" class="btn btn-green btn-lg">
                            <span class="glyphicon glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create your questions
                            </a>
                        </p>
                    </div>
                </div>
                <div class="row marketing">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="  search-query form-control" placeholder="Search questions" />
                            <span class="input-group-btn">
                            <button class="btn btn-danger" type="button">
                            <span class=" glyphicon glyphicon-search"></span>
                            </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6 left">
                        <h4><span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"></span> Unsolved questions</h4>
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">qustion heading</h5>
                                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">qustion heading</h5>
                                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">qustion heading</h5>
                                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 right">
                        <h4><span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"></span> Closed questions</h4>
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">qustion heading</h5>
                                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">qustion heading</h5>
                                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">qustion heading</h5>
                                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>