<div class="row">
  <h2>
      <center>Get Started</center>
  </h2>
</div>
<div class="selectArea">
  <p>
    <center>Tell us about you. Choose your languages and level.</center>
  </p>
  <table>
    <tr>
      <th>
        <p>Java</p>
      </th>
      <td>
        <select class="form-control">
          <option>Choose your level</option>
          <option>Beginner</option>
          <option>Competent</option>
          <option>Proficient</option>
          <option>Expert</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>
        <p>Python</p>
      </th>
      <td>
        <select class="form-control">
          <option>Choose your level</option>
          <option>Beginner</option>
          <option>Competent</option>
          <option>Proficient</option>
          <option>Expert</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>
        <p>Go</p>
      </th>
      <td>
        <select class="form-control">
          <option>Choose your level</option>
          <option>Beginner</option>
          <option>Competent</option>
          <option>Proficient</option>
          <option>Expert</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>
        <p>PHP</p>
      </th>
      <td>
        <select class="form-control">
          <option>Choose your level</option>
          <option>Beginner</option>
          <option>Competent</option>
          <option>Proficient</option>
          <option>Expert</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>
        <p>Ruby</p>
      </th>
      <td>
        <select class="form-control">
          <option>Choose your level</option>
          <option>Beginner</option>
          <option>Competent</option>
          <option>Proficient</option>
          <option>Expert</option>
        </select>
      </td>
    </tr>
  </table>
  <div class="btn-lenth">
    <a href="#/dashboard">
      <button type="button" class="btn btn-block btn-green">
        <center>Next</center>
      </button>
    </a>
  </div>
</div>
