<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="#"><span><img src="https://slack-imgs.com/?c=1&url=https%3A%2F%2Frobohash.org%2FCodeBuddies" width="44px;"></span>Taro-San</a></li>
            </ul>
        </nav>
        <div class="row">
            <h1>
                <center>Code Buddies</center>
            </h1>
            <h2>
                <center>Get Started</center>
            </h2>
            <div class="selectArea">
                <p>
                <center>Tell us about you. Choose your languages and level.</center>
                </p>
                <table>
                    <tr>
                        <th>
                            <p>Java</p>
                        </th>
                        <td>
                            <select class="form-control">
                                <option>Choose your level</option>
                                <option>Beginner</option>
                                <option>Competent</option>
                                <option>Proficient</option>
                                <option>Expert</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p>Python</p>
                        </th>
                        <td>
                            <select class="form-control">
                                <option>Choose your level</option>
                                <option>Beginner</option>
                                <option>Competent</option>
                                <option>Proficient</option>
                                <option>Expert</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p>Go</p>
                        </th>
                        <td>
                            <select class="form-control">
                                <option>Choose your level</option>
                                <option>Beginner</option>
                                <option>Competent</option>
                                <option>Proficient</option>
                                <option>Expert</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p>PHP</p>
                        </th>
                        <td>
                            <select class="form-control">
                                <option>Choose your level</option>
                                <option>Beginner</option>
                                <option>Competent</option>
                                <option>Proficient</option>
                                <option>Expert</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p>Ruby</p>
                        </th>
                        <td>
                            <select class="form-control">
                                <option>Choose your level</option>
                                <option>Beginner</option>
                                <option>Competent</option>
                                <option>Proficient</option>
                                <option>Expert</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <div class="btn-lenth">
                    <a href="./dashboard.html">
                        <button type="button" class="btn btn-block btn-green">
                            <center>Next</center>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>