<div>
  <center>
    <i class="material-icons md-72" style="font-size: 72px;" id="s1"  onclick="
    document.getElementById('s1').style.color = 'blue';
    ">star</i>
    <i class="material-icons md-72" style="font-size: 72px;" id="s2"  onclick="
    document.getElementById('s1').style.color = 'blue';
    document.getElementById('s2').style.color = 'blue';
    ">star</i>
    <i class="material-icons md-72" style="font-size: 72px;" id="s3" onclick="
    document.getElementById('s1').style.color = 'blue';
    document.getElementById('s2').style.color = 'blue';
    document.getElementById('s3').style.color = 'blue';
    ">star</i>
    <i class="material-icons md-72" style="font-size: 72px;" id="s4"  onclick="
    document.getElementById('s1').style.color = 'blue';
    document.getElementById('s2').style.color = 'blue';
    document.getElementById('s3').style.color = 'blue';
    document.getElementById('s4').style.color = 'blue';
    ">star</i>
    <i class="material-icons md-72" style="font-size: 72px;" id="s5"  onclick="
    document.getElementById('s1').style.color = 'blue';
    document.getElementById('s2').style.color = 'blue';
    document.getElementById('s3').style.color = 'blue';
    document.getElementById('s4').style.color = 'blue';
    document.getElementById('s5').style.color = 'blue';
    ">star</i>
  </center>
</div>
<div>
  <center>
    <a ng-href="#/" style="font-size: 24px;">
      <div class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="width: 400px; height: 72px">
        <div style="margin-top: 18px;"></div>
          Submit
      </div>
    </a>
  </center>
</div>
